@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 216.2 61% 100%;
    --foreground: 216.2 3.1% 10%;
    --card: 216.2 30.5% 100%;
    --card-foreground: 216.2 3.1% 15%;
    --popover: 216.2 61% 100%;
    --popover-foreground: 216.2 98.1% 10%;
    --primary: 216.2 100% 40.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 216.2 22.2% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 254.2 22.2% 95%;
    --muted-foreground: 216.2 3.1% 40%;
    --accent: 254.2 22.2% 90%;
    --accent-foreground: 216.2 3.1% 15%;
    --destructive: 0 80.5% 50%;
    --destructive-foreground: 216.2 3.1% 100%;
    --border: 216.2 26.1% 82%;
    --input: 216.2 26.1% 50%;
    --ring: 216.2 88.7% 45.3%;
    --radius: 0.7rem;
    --sidebar-background: 216, 61%, 95%;
    --sidebar-foreground: 216, 3%, 9%;
    --sidebar-primary: 216, 100%, 37%;
    --sidebar-primary-foreground: 0, 0%, 100%;
    --sidebar-accent: 254, 22%, 86%;
    --sidebar-accent-foreground: 0 0% 0%;
    --sidebar-border: 216, 26%, 78%;
    --sidebar-ring: 206, 98%, 45%;
  }

  .dark {
    --background: 216.2 34.4% 10%;
    --foreground: 216.2 3.1% 100%;
    --card: 216.2 30.5% 10%;
    --card-foreground: 216.2 3.1% 100%;
    --popover: 216.2 34.4% 5%;
    --popover-foreground: 216.2 3.1% 100%;
    --primary: 216.2 100% 40.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 216.2 22.2% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 254.2 22.2% 25%;
    --muted-foreground: 216.2 3.1% 65%;
    --accent: 254.2 22.2% 25%;
    --accent-foreground: 216.2 3.1% 95%;
    --destructive: 0 80.5% 50%;
    --destructive-foreground: 216.2 3.1% 100%;
    --border: 216.2 26.1% 50%;
    --input: 216.2 26.1% 50%;
    --ring: 216.2 88.7% 45.3%;
    --radius: 0.7rem;
    --sidebar-background: 216, 34%, 13%;
    --sidebar-foreground: 216, 3%, 100%;
    --sidebar-primary: 216, 100%, 32%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 254, 22%, 21%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 216, 26%, 48%;
    --sidebar-ring: 206, 98%, 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply select-none bg-background text-foreground;
  }
}

@layer utilities {
  .center {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}